body{
    margin:0;
    padding:0;
    color:black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row-reverse;
}
nav a{
    padding:20px;
    text-decoration: none;
}
.img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}